@import '../../global/colors';

@font-face{
    font-family: AmazonEmber;
    src: url(../../fonts/AmazonEmber_Rg.ttf);
}

*{
    font-family: AmazonEmber;
    font-style: normal;
}

// <NEW REQUEST - NAVBAR> //
.left_nav--save_progress,
.left_nav--submit_request{
    display: flex;
    text-decoration: none;
}

.left_nav--save_progress{
    border: 1px solid $squid-ink;
    border-radius: 34.1574px;
    width: 153px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    background: $white;
    cursor: pointer;

    &:hover{
        background: rgba(128, 130, 133, 0.2);
    }
}
.left_nav--submit_request{
    background: #232F3E;
    border-radius: 34.1574px;
    width: 170px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

    &:hover{
        background: rgba(35, 47, 62, 0.75);
    }

    &:disabled{
        cursor: not-allowed;
        background: rgb(128 130 133 / 30%);
    }
}

.left_nav--save_progress--img,
.left_nav--submit_request--img{
    margin-right: 8px;
}

.left_nav--save_progress--text,
.left_nav--submit_request--text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;  
}

.left_nav--save_progress--text{
    color: $squid-ink;
}

.left_nav--submit_request--text{
    color: $white;
}


// <NEW REQUEST> //
.new_request{
    position: relative;
    display: flex;
    max-width: 100vw
}

.new_request--outer_container{
    width: 940px;
    margin: 60px 0 30px 0;
}

.new_request--container{
    height: 660px;
    max-width: 100%;
    background-color: rgb(255 153 0 / 15%);
    box-shadow: 5px 5px 20px rgba(35, 47, 62, 0.2);
    border-radius: 20px;
    position: relative;
}

.new_request--popup_container{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 100;
    width: 100%;
    height: 660px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(35, 47, 62, 0.5);
    border-radius: 20px;

    &[data-hidden="true"]{
        visibility: hidden;
    }
}

.popup--container{
    margin-top: 187px;
    padding: 20px;
    max-width: 703px;
    width: 100%;
    max-height: 246px;
    background-color: $white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 100px;
        height: 100px;
        margin-bottom: 16px;
    }
    .return_button{
        padding: 5px 16px;
        width: 194px;
        height: 34px;
        background: #FFFFFF;
        border: 1px solid #232F3E;
        border-radius: 34.1574px;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #232F3E;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background: rgba(128, 130, 133, 0.2);
        }
    }
}

.popup_top--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 188px;
    margin-bottom: 24px;
}

.popup_header{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232F3E;
    margin-bottom: 16px;
}

.popup_text{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232F3E;
}
// < NEW REQUEST - UPPER CONTAINER > //

.new_request--upper_container{
    z-index: 2;
    position: absolute;
    border-radius: 20px 20px 0 0;
    height: 40px;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px 50px 60px;
    background: linear-gradient(180deg, #FFE7C2 0%, rgba(255, 238, 214, 0) 100%);;
    left: 0;
    right: 0;
}
.new_request--main_title{
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: $squid-ink;
    max-width: 600px;
}
.new_request--request_number{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

// < NEW REQUEST - MAIN CONTAINER > //

.new_request--main_container{
    padding: 150px 60px 0 60px;
    max-height: calc(100% - 150px);
    max-width: 100%;
    overflow-y: scroll;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    z-index: 1;
}

.input_label{
    margin-bottom: 4px;
}


input:focus{
    outline: none;
    border: 1px solid rgba(35, 47, 62, 0.5);
}

textarea:focus{
    outline: none;
    border: 1px solid rgba(35, 47, 62, 0.5);
}

.active{
    background: $light-blue;
    color: $squid-ink;
}